<!DOCTYPE html>
<html lang="en">

<head>
    <title>Portal - Bootstrap 5 Admin Dashboard Template For Developers</title><!-- Meta -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Portal - Bootstrap 5 Admin Dashboard Template For Developers" name="description">
    <meta content="Xiaoying Riley at 3rd Wave Media" name="author">
    <link href="favicon.ico" rel="shortcut icon"><!-- FontAwesome JS-->

    <script defer src="assets/plugins/fontawesome/js/all.min.js">
    </script><!-- App CSS -->
    <link href="assets/css/portal.css" id="theme-style" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.0/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdn.datatables.net/datetime/1.1.1/js/dataTables.dateTime.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css">
</head>

<body class="app">
    <header class="app-header fixed-top bg-success">
        <div class="app-header-inner">
            <div class="container-fluid py-2">
                <div class="app-header-content">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <a class="sidepanel-toggler d-inline-block d-xl-none" href="#" id="sidepanel-toggler"><svg
                                    height="30" role="img" viewbox="0 0 30 30" width="30"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <title>Menu</title>
                                    <path d="M4 7h22M4 15h22M4 23h22" stroke="currentColor" stroke-linecap="round"
                                        stroke-miterlimit="10" stroke-width="2"></path>
                                </svg></a>
                        </div>
                        <!--//col-->

                        <div class="app-utilities col-auto">
                            <div class="app-utility-item">
                                <a href="settings.html" title="Settings">
                                    <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                                    <svg class="bi bi-gear icon" height="1em" viewbox="0 0 16 16" width="1em"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.837 1.626c-.246-.835-1.428-.835-1.674 0l-.094.319A1.873 1.873 0 0 1 4.377 3.06l-.292-.16c-.764-.415-1.6.42-1.184 1.185l.159.292a1.873 1.873 0 0 1-1.115 2.692l-.319.094c-.835.246-.835 1.428 0 1.674l.319.094a1.873 1.873 0 0 1 1.115 2.693l-.16.291c-.415.764.42 1.6 1.185 1.184l.292-.159a1.873 1.873 0 0 1 2.692 1.116l.094.318c.246.835 1.428.835 1.674 0l.094-.319a1.873 1.873 0 0 1 2.693-1.115l.291.16c.764.415 1.6-.42 1.184-1.185l-.159-.291a1.873 1.873 0 0 1 1.116-2.693l.318-.094c.835-.246.835-1.428 0-1.674l-.319-.094a1.873 1.873 0 0 1-1.115-2.692l.16-.292c.415-.764-.42-1.6-1.185-1.184l-.291.159A1.873 1.873 0 0 1 8.93 1.945l-.094-.319zm-2.633-.283c.527-1.79 3.065-1.79 3.592 0l.094.319a.873.873 0 0 0 1.255.52l.292-.16c1.64-.892 3.434.901 2.54 2.541l-.159.292a.873.873 0 0 0 .52 1.255l.319.094c1.79.527 1.79 3.065 0 3.592l-.319.094a.873.873 0 0 0-.52 1.255l.16.292c.893 1.64-.902 3.434-2.541 2.54l-.292-.159a.873.873 0 0 0-1.255.52l-.094.319c-.527 1.79-3.065 1.79-3.592 0l-.094-.319a.873.873 0 0 0-1.255-.52l-.292.16c-1.64.893-3.433-.902-2.54-2.541l.159-.292a.873.873 0 0 0-.52-1.255l-.319-.094c-1.79-.527-1.79-3.065 0-3.592l.319-.094a.873.873 0 0 0 .52-1.255l-.16-.292c-.892-1.64.902-3.433 2.541-2.54l.292.159a.873.873 0 0 0 1.255-.52l.094-.319z"
                                            fill-rule="evenodd"></path>
                                        <path
                                            d="M8 5.754a2.246 2.246 0 1 0 0 4.492 2.246 2.246 0 0 0 0-4.492zM4.754 8a3.246 3.246 0 1 1 6.492 0 3.246 3.246 0 0 1-6.492 0z"
                                            fill-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </div>
                            <!--//app-utility-item-->
                            <div class="app-utility-item app-user-dropdown dropdown">
                                <a aria-expanded="false" class="dropdown-toggle" data-bs-toggle="dropdown" href="#"
                                    id="user-dropdown-toggle" role="button"><img alt="user profile"
                                        class="rounded-circle" src="assets/images/atmin.jpg"></a>
                                <ul aria-labelledby="user-dropdown-toggle" class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="account.html">เกี่ยวกับเรา</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="login.html">ออกจากระบบ</a>
                                    </li>
                                </ul>
                            </div>
                            <!--//app-user-dropdown-->
                        </div>
                        <!--//app-utilities-->
                    </div>
                    <!--//row-->
                </div>
                <!--//app-header-content-->
            </div>
            <!--//container-fluid-->
        </div>
        <!--//app-header-inner-->
        <div class="app-sidepanel" id="app-sidepanel">
            <div class="sidepanel-drop" id="sidepanel-drop"></div>
            <div class="sidepanel-inner d-flex flex-column">
                <div class="app-branding">
                    <img alt="logo" class=" me-2" src="assets/images/logo2.png" width="50"><span
                        class="logo-text">Parking system</span>
                </div>
                <!--//app-branding-->
                <nav class="app-nav app-nav-main flex-grow-1" id="app-nav-main">
                    <ul class="app-menu list-unstyled accordion" id="menu-accordion">
                        <li class="nav-item">
                            <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                            <a class="nav-link active" href="dashboard.html"><span class="nav-icon"><svg
                                        class="bi bi-house-door" height="1em" viewbox="0 0 16 16" width="1em"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z"
                                            fill-rule="evenodd"></path>
                                        <path d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
                                            fill-rule="evenodd"></path>
                                    </svg></span> <span class="nav-link-text">หน้าหลัก</span></a>
                            <!--//nav-link-->
                        </li>


                        <li class="nav-item">
							<!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
							<a class="nav-link" href="orders.html"><span class="nav-icon"><svg class="bi bi-card-list"
										height="1em" viewbox="0 0 16 16" width="1em"
										xmlns="http://www.w3.org/2000/svg"></svg></span> <span
									class="nav-link-text">การจอง</span></a>
							<!--//nav-link-->
						</li>
                        
                        <!--//nav-item-->
                        <li class="nav-item">
                            <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                            <a class="nav-link" href="orders.html"><span class="nav-icon"><svg class="bi bi-card-list"
                                        height="1em" viewbox="0 0 16 16" width="1em"
                                        xmlns="http://www.w3.org/2000/svg"></svg></span> <span
                                    class="nav-link-text">รายได้</span></a>
                            <!--//nav-link-->
                        </li>
                        <!--//nav-item-->
                        <li class="nav-item">
                            <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                            <a class="nav-link" href="member.html"><span class="nav-icon"><svg class="bi bi-card-list"
                                        height="1em" viewbox="0 0 16 16" width="1em"
                                        xmlns="http://www.w3.org/2000/svg"></svg></span> <span
                                    class="nav-link-text">สมาชิก</span></a>
                            <!--//nav-link-->
                        </li>
                        <!--//nav-item-->
                        <li class="nav-item">
                            <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                            <a class="nav-link" href="orders.html"><span class="nav-icon"><svg class="bi bi-card-list"
                                        height="1em" viewbox="0 0 16 16" width="1em"
                                        xmlns="http://www.w3.org/2000/svg"></svg></span> <span
                                    class="nav-link-text">รายงานการเข้าลานจอด</span></a>
                            <!--//nav-link-->
                        </li>
                        <!--//nav-item-->
                    </ul>
                    <!--//app-menu-->
                </nav>
                <!--//app-nav-->
            </div>
            <!--//sidepanel-inner-->
        </div>
        <!--//app-sidepanel-->
    </header>
    <!--//app-header-->
    <!-- MAIN -->
    <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3> รายได้ทั้งหมด </h3>
                    </div>

                    <form action="/action_page.php">
                        <label for="birthday">วันที่:</label>
                        <input type="date" id="birthday" name="birthday">
                        <label for="birthday">ถึง:</label>
                        <input type="date" id="birthday" name="birthday">
                        <input type="submit">
                    </form>

                    <div class="panel-body mt-2">
                        <div class="card">
                            <div class="container mt-2">
                                <table id="example" class="table table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="cell">วัน/เดือน/ปี </th>
                                            <th class="cell">ชื่อ-นามสกุล </th>
                                            <th class="cell">หมายเลขทะเบียนรถ </th>
                                            <th class="cell">ชำระค่าจอง
                                            </th>
                                            <th class="cell">ชำระค่าจอด
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="cell">01-06-2021
                                            </td>
                                            <td class="cell"> ภัทรดนัย โกช่วย
                                            </td>
                                            <td class="cell">ม 112 </td>
                                            <td class="cell"><span class="">20</span>
                                            </td>
                                            <td class="cell">
                                                <span class="">120</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cell">24-05-2021
                                            </td>
                                            <td class="cell"> ภัทรดนัย โกช่วย
                                            </td>
                                            <td class="cell">ม 112 </td>
                                            <td class="cell"><span class="">20</span>
                                            </td>
                                            <td class="cell">
                                                <span class="">140</span>
                                            </td>
                                        </tr>

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>ยอดชำระการจอง:</th>
                                            <th>40</th>
                                            <th>ยอดชำระค่าจอด:</th>
                                            <th>260</th>
                                        </tr>
                                        <tr>
                                            <th colspan="4" style="text-align:right">ยอดรวม:</th>
                                            <th> 300</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--//app-content-->
            <footer class="app-footer">
                <div class="container text-center py-3">
                    <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
                    <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a"></i> by <a
                            class="app-link" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a>
                        for developers</small>
                </div>
            </footer>
            <!--//app-footer-->
        </div>
        <!--//app-wrapper-->
        <!--END MAIN -->
        <!-- Javascript -->
        <script src="assets/plugins/popper.min.js">
        </script>
        <script src="assets/plugins/bootstrap/js/bootstrap.min.js">
        </script> <!-- Charts JS -->
        <script src="assets/plugins/chart.js/chart.min.js">
        </script>
        <script src="assets/js/index-charts.js">
        </script> <!-- Page Specific JS -->
        <script src="assets/js/app.js">
        </script>
    </div>
</body>
</html>



<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {

                    extend: 'csv',
                    charset: 'UTF-8',
                    fieldSeparator: ';',
                    bom: true,
                    filename: 'CsvTest',
                    title: 'CsvTest'
                },
                {
                    extend: 'print',
                    text: 'พิมพ์',
                    title: 'รายได้การเข้าจอดรถ',
                    customize: function (win) {
                        $(win.document.body)
                            .css('font-size', '10pt')
                            .prepend(
                                '<img src="http://datatables.net/media/images/logo-fade.png" style="position:absolute; top:0; left:0;" />'
                            );

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }

            ]
        });
    });
</script>